head
    title=pageTitle
    script(type='text/javascript')
    link(rel='stylesheet', href='dist/html/css/main.css')
    link(rel='stylesheet', href='css/font-awesome/css/font-awesome.min.css')
body.page 
    .hello
     .hello__block
       .hello__auth
         .auth__avatar
           img(class='auth__img' src="dist/html/scrubs.png" alt="Аватар")
         h1(class="auth__name") Егор Истомин                     
       .hello__btn
         a(class='download__btn' href='dist/html/page1.html') Перейти на сайт
  

         
      
         
       
  
        
