extends header
block lol
  html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript')
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/font-awesome/css/font-awesome.min.css')
  body.page 
   .hello
     .hello__block
       .hello__auth
         .auth__avatar
           img(class='auth__img' src="scrubs.png" alt="Аватар")
         h1(class="auth__name") Егор Истомин                     
       .hello__btn
         a(class='download__btn' href='') Перейти на сайт
  

         
      
         
       
  
        
