.page__footer
 footer(class="footer")
  .container
    .footer__left
      div(class="copyright") Дизайн был разработан в школе Loftschool 
    .footer__right
      ul(class="socials")
        li(class='socials__item')
          a(class='socials__link socials__link--fb') Facebook 
        li(class='socials__item')
          a(class='socials__link socials__link--vk') VK
        li(class='socials__item')
          a(class='socials__link socials__link--tw') Twitter
          
    
