head
    title= pageTitle
    link(rel='stylesheet', href='css/header.css')
    link(rel='stylesheet', href='css/font-awesome/css/font-awesome.min.css')
body.page
    .page_wrap 
      header.header 
        .container 
          .header__left
            .user
              .a(class='user__link') 
               .user__photo
                 img(class='user__img' src='scrubs.png' alt="Аватар")
               h1(class='user__name') Егор Истомин
          .header__right
            .contact
              a(class="contact__show" href='') 
                span(class='contact__text') Мои контакты 
                .contact__underline 
              .contact__tip 
                .treungular 
                .treungular2
                ul(class='contact__list')
                  li(class='contact__item')
                    a(class="contact__link" href="mailto:witto24@gmail.com")
                      i(class='contact__icon fa fa-envelope-o')  witto24@gmail.com
                      
                    
                  li(class='contact__item')
                    a(class="contact__link" href='tel:+795255158718') 
                       i(class='contact__icon fa fa-phone')   +791234519912
                  li(class='contact__item')
                    a(class='contact__link' href='skype:egoristomin?chat')
                      i(class='contact__icon fa fa-skype')   ei.istomin 
      block lol
                     
                    
                      
                    
                    
               
              
                     
                 
                
               
              
          
       
        
    
      
