doctype html  
html(lang='ru')  
 head
   title first page 
   meta(charset="UTF-8")
   link(rel="stylesheet" href="css/header.css")
   link(rel="stylesheet" href="css/page1.css")
   link(rel="stylesheet" href="css/footer.css")
   link(rel="stylesheet" href="css/page3.css")
   link(rel="stylesheet" href="css/page2.css")
   link(rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css")
 body.page
   .page_wrap
     header(class='header')
       .container
         div(class='header__left')
           .user
             a(href="#" class="user__link")
               .user__photo
                 img(class="user__img" src="scrubs.png")
               h1(class="user__name") Егор Истомин     
         div(class='header__right')
           .contact
             a(class="contact__show")
               span(class='contact__text') Мои контакты 
               div(class='contact__underline')
             .contact__tip
                 .treungular
                 .treungular2
                 ul(class="contact__list")
                   li(class='contact__item')
                     a(class='contact__link' href='mailto:witto24@gmail.com')
                       i(class='contact__icon fa fa-envelope-o') 
                       |    witto24@gmail.com
                   li(class='contact__item')
                     a(class='contact__link' href="tel:+79525158619")
                       i(class='contact__icon fa fa-phone') 
                       |    +79525158619
                   li(class='contact__item')
                     a(class='contact__link' href="skype:egoristomin?chat")
                       i(class='contact__icon fa fa-skype') 
                       |    ei.istomin        
     .content
       .container 
       
       
                
                               
