@font-face {
    font-family: "firasans_regular";
    src: url(firesans.ttf);
   }
@font-face {
       font-family: "firasans_bold";
       src: url(firesans2.ttf);
      }
@font-face {
          font-family: "firasans_light";
          src: url(firesansl.ttf);
      }

* {
box-sizing: border-box;
box-sizing: border-box;
margin: 0;
padding: 0;
}

$white: #fff;
$red: #e85f61;
$blue: #33c1e3;
$whitedark: #f6f6f6;
$black: #414141;
$grey: #727272;

.page {
min-width: 320px;
font-family: 'firasans_regular', Arial, sans-serif;
font-size: 16px;
background: $white;
}

.page__footer {
height: 50px;
position: fixed;
left: 0;
bottom: 0;
padding: 6px;
background-color: rgb(65, 65, 65);
color: #fff;
width: 100%;
}

.container {
margin: 0 auto;
padding: 0 10px;
max-width: 960px;
display: flex;
justify-content: space-between;

.footer__left {
padding-top: 15px;
margin-left: auto;
margin-right: 490px;

.footer__right {
    padding-top: 6px;
    margin-right: auto;
}
}
}

.copyright {
color: #9c9c9c;
font-family: 'firasans_light', Arial, sans-serif;
font-size: 14px;
line-height: 1;
}

.footer__right {
padding-top: 6px;
margin-right: auto;
}

.socials {
list-style: none;
margin: 0;
padding: 0;

.socials__item {
margin-left: 2px;
display: inline-block;
}
}

.socials__link {
fill: #f6f6f6;
display: block;
background-image: url(socials.png);
background-repeat: no-repeat;
text-indent: 100%;
white-space: nowrap;
overflow: hidden;
}

.socials__link--fb {
width: 31px;
height: 30px;
background-position: 0 0;


&:hover {
background-position: 0 -30px;
}
}

.socials__link--vk {
width: 32px;
height: 30px;
background-position: 0 -120px;


&:hover {
background-position: 0 -150px;
}
}

.socials__link--tw {
width: 31px;
height: 30px;
background-position: 0 -60px;

&:hover {
background-position: 0 -90px;
}
}
