@font-face {
font-family: "firasans_regular";
src: url(firesans.ttf);
   }

@font-face {
font-family: "firasans_bold";
src: url(firesans2.ttf);
}
@font-face {
font-family: "firasans_light";
src: url(firesansl.ttf);
 }
  @font-face {
font-family: "firasans_medium";
src: url(meduim.ttf);
}

* {
margin: 0;
padding: 0;
   }

* {
box-sizing: border-box;
}

$white: #fff;
$red: #e85f61;
$blue: #33c1e3;
$whitedark: #f6f6f6;
$black: #414141;
$grey: #727272;

.page {
min-width: 320px;
font-family: 'firasans_regular', Arial, sans-serif;
font-size: 16px;
background: $white;
}

.content {
padding-top: 25px;
margin-bottom: 50px;

.container {
margin: 0 auto;
padding: 0 10px;
max-width: 960px;
display: flex;
justify-content: space-between;
}
}

.content__sidebar {
width: 220px;

.nav {
font-family: 'firasans_regular';
font-size: 18px;
text-align: right;
}
}

.nav__list {
margin: 0;
padding: 0;
list-style: none;

.nav__item {
    position: relative;
}
}

.nav__item.is-active .nav__link {
color: $blue;
font-family: 'firasans_bold';
}

.nav__link {
padding: 9px 29px 8px 0;
display: block;
text-decoration: none;
color: $black;
}

.fa {
display: inline-block;
font: normal normal normal 14px/1 FontAwesome;
font-size: inherit;
}

.nav__item.is-active:after {
content: '';
background: #33c1e3;
background: linear-gradient(to bottom, #49c8e6, #1eb9de);
}

.nav {
font-family: 'firasans_regular';
font-size: 18px;
text-align: right;
}
.nav__item:after {
content: '';
position: absolute;
top: 0;
right: 0;
display: block;
width: 6px;
height: 100%;
background: transparent;
}

.about {
display: flex;
justify-content: space-between;
width: 700px;

.about__left {
width: 300px;

.about__pic {
margin: 0 auto;
width: 230px;
height: 230px;
border-radius: 50%;
overflow: hidden;
border: 5px solid #fff;
}
}
}

.about__right {
width: 380px;

.page-title {
margin: 0;
margin-bottom: 22px;
font-weight: normal;
font-family: 'firasans_medium';
font-size: 35px;
line-height: 1.2;
color: $black;
}
}

.about__img {
max-width: 150%;
max-height: 100%;
}

.text {
font-family: 'firasans_light', Arial, sans-serif;
font-size: 18px;
line-height: 26px;
color: #646464;
}

.about__text {
margin-top: -8px;
margin-bottom: 57px;
height: 320px;
overflow: auto;
}

.about__download {
text-align: right;
}

.download-btn {
width: 170px;
padding: 11px 12px;
color: $red;
border: 2px solid #e85f61;
text-decoration: none;
display: inline-block;
font-family: 'Open Sans', Arial, sans-serif;
font-size: 14px;
font-weight: 700;
line-height: 1;
border-radius: 20px;

&:hover {
background-color: $red;
color: $white; 
}
}

.fa-download:before {
content: "\f019";
}
